{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <style>
      
      /* Better visualize div.game-grid by assigning background color */
      .game-grid {
        display: grid;
        gap: 10px 10px;
        grid-template-columns: auto auto auto auto; 
      }

      .game-cell {
        color: rgb(255, 255, 255);
        padding: 20px;
        text-align: center;
      }

    </style>
  </head>
  <body>

    <div class="title">
      <h2>Game Library</h2>
    </div>

    <div class="game-grid">
      {{ grid_display|safe }}
    </div>

  </body>
</html>

{% endblock %}